.blue-header
  #myCarousel.carousel.slide
    .carousel-inner
      .item.active
        <div class="image-center">
        =image_tag "#{static_root}/general_banner_#{request.subdomains.first}.jpg", :class => :center
        </div>
        .carousel-caption