.container
  .row
    %header.box_theme#page_title
      %h1 Catalogues
    %hr
  .row
    %aside.span4.box_theme#subtitle
      %h2
        Catalogues from
        = "#{@company_name}" unless @company_name.nil?
      %p
        Our catalogues. 

    %section.span8    
      .article.box_theme
        = raw Company.by_webname(request.subdomains.first).text( :catalogue )






